<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <appSettings>
    <add key="conStr" value="Provider=Microsoft.ACE.OLEDB.12.0;;Data Source=data.accdb;Jet OLEDB:Database Password=admin"/>
    <add key="GradeUrl" value="http://test.bjzzschool.com/byycampus/service/query_grade_info.do"/>
    <add key="ClassUrl" value="http://test.bjzzschool.com/byycampus/service/query_class_info.do"/>
    <add key="StudentIdsUrl" value="http://test.bjzzschool.com/byycampus/service/query_student_id.do"/>
    <add key="StudentsInfoUrl" value="http://test.bjzzschool.com/byycampus/service/query_student_info.do"/>
    <add key="UploadUrl" value="http://114.116.47.80/byymoral/upload_UploadImageAction.do"/>
    <add key="TermInfoUrl" value="http://test.bjzzschool.com/byycampus/service/TermService_getCurrentTermBySchoolId.do"/>
    <add key="key" value="122515731d20b791a2754661229193256381a301a3d5728237"/>
    <add key="schoolId" value="5db84c39-9b53-49a1-9c51-35071c28b765"/>
    <add key="requestAppId" value="byymoral"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
